<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<hr>
<a class="btn-primary btn-lg" href=<%= url_for controller:"welcome", action: "index"  %> role="button">Go Home</a>
<br><br><br>
<a class="btn-primary btn-lg" href=<%= url_for controller:"welcome", action: "tryit"  %> role="button">Run A Test</a>
