<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to LJs Site, Mr/Ms Viewer</h1>
    <p>
      Are receiving this from a programmer who doesn't know what he's doing.
    </p>
    <p>
      Your Message is: <%= @something %>.
    </p>
    <p>Thanks for listening and have a great day!</p>
  </body>
</html>
